In [18]:
import pandas as pd
import numpy as np

In [19]:
# Sample datasets
data_sales = {
    'Date': ['2023-03-18', '2023-03-18', '2023-01-15', '2023-01-20', '2022-12-30', '2022-06-15'],
    'Order_id': [1, 2, 3, 4, 5, 6],
    'Item_id': [101, 102, 103, 104, 105, 106],
    'Customer_id': [201, 202, 203, 204, 205, 206],
    'Quantity': [2, 1, 3, 1, 2, 4],
    'Revenue': [200, 150, 300, 100, 400, 50]
}

data_items = {
    'Item_id': [101, 102, 103, 104, 105, 106],
    'Item_name': ['Widget A', 'Widget B', 'Widget C', 'Widget D', 'Widget E', 'Widget F'],
    'Price': [100, 150, 100, 100, 200, 12.5],
    'Department': ['Electronics', 'Furniture', 'Furniture', 'Electronics', 'Toys', 'Toys']
}

data_customers = {
    'Customer_id': [201, 202, 203, 204, 205, 206],
    'First_name': ['John', 'Jane', 'John', 'Doe', 'Alice', 'Bob'],
    'Last_name': ['Doe', 'Smith', 'Doe', 'Williams', 'Doe', 'Brown'],
    'Address': ['NY', 'CA', 'TX', 'FL', 'TX', 'NV']
}

In [20]:
# Create DataFrames
sales_df = pd.DataFrame(data_sales)
items_df = pd.DataFrame(data_items)
customers_df = pd.DataFrame(data_customers)

In [21]:
# Question 1: Total number of orders completed on 18th March 2023
total_orders_18_march = sales_df[sales_df['Date'] == '2023-03-18'].shape[0]
print("Total orders completed on 18th March 2023:", total_orders_18_march)

Total orders completed on 18th March 2023: 2

In [22]:
# Question 2: Total number of orders completed on 18th March 2023 with first name 'John' and last name 'Doe'
march_18_orders = sales_df[sales_df['Date'] == '2023-03-18']
march_18_orders = pd.merge(march_18_orders, customers_df, on='Customer_id')
orders_john_doe = march_18_orders[(march_18_orders['First_name'] == 'John') & (march_18_orders['Last_name'] == 'Doe')].shape[0]
print("Total orders completed on 18th March 2023 by John Doe:", orders_john_doe)

Total orders completed on 18th March 2023 by John Doe: 1

In [23]:
# Question 3: Total customers who purchased in January 2023 and average amount spent per customer
january_orders = sales_df[sales_df['Date'].str.startswith('2023-01')]
total_customers_january = january_orders['Customer_id'].nunique()
average_spent_per_customer = january_orders.groupby('Customer_id')['Revenue'].sum().mean()
print("Total customers in January 2023:", total_customers_january)
print("Average amount spent per customer in January 2023:", average_spent_per_customer)

Total customers in January 2023: 2
Average amount spent per customer in January 2023: 200.0

In [24]:
# Question 4: Departments that generated less than $600 in 2022
sales_2022 = sales_df[sales_df['Date'].str.startswith('2022')]
department_revenue = pd.merge(sales_2022, items_df, on='Item_id').groupby('Department')['Revenue'].sum()
low_revenue_departments = department_revenue[department_revenue < 600]
print("Departments that generated less than $600 in 2022:")
print(low_revenue_departments)

Departments that generated less than $600 in 2022:
Department
Toys    450
Name: Revenue, dtype: int64

In [25]:
# Question 5: Most and least revenue generated by an order
max_revenue = sales_df['Revenue'].max()
min_revenue = sales_df['Revenue'].min()
print("Most revenue generated by an order:", max_revenue)
print("Least revenue generated by an order:", min_revenue)

Most revenue generated by an order: 400
Least revenue generated by an order: 50

In [26]:
# Question 6: Orders in the most lucrative order
most_lucrative_order = sales_df[sales_df['Revenue'] == max_revenue]
print("Most lucrative order:")
print(most_lucrative_order)

Most lucrative order:
         Date  Order_id  Item_id  Customer_id  Quantity  Revenue
4  2022-12-30         5      105          205         2      400